/* Table of contents
=====================
// 1. Variables
// 2. Placeholders
// 3. Functions
// 4. Mixins
// 10. Animations
=====================
*/
h2, label, .header__phone, .button, .img--wrapper::before {
  text-transform: uppercase;
}

header::after, footer::after, .img--wrapper::before {
  position: absolute;
}

header, footer, .img--wrapper {
  position: relative;
}

.button--success, .button--info {
  cursor: pointer;
}

.button--success, .button--info, .button--success:hover, .button--info:hover {
  transition: all 0.2s ease-in-out;
}

/* Table of contents
=====================
// 1. Font Faces
// 2. Base
// 3. Layout
// 4. Block + element
// 5. Modifier
// 6. State
// 7. Animations
=====================
*/
@font-face {
  font-family: "lato Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "lato Italic";
  src: url("../fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: "lato Black";
  src: url("../fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "lato Semibold";
  src: url("../fonts/Lato-Semibold.ttf");
}

@font-face {
  font-family: "lato Heavy";
  src: url("../fonts/Lato-Heavy.ttf");
}

html {
  font: normal normal 400 62.5%/normal "Lato Regular", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  color: #ffffff;
  user-select: none;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: url("../img/shape-12.png") no-repeat 0 267px;
  width: 100%;
  color: #585858;
}

@media screen and (min-width: 768px) {
  body {
    background: url("../img/shape-12.png") no-repeat 0 188px;
  }
}

.container {
  max-width: 1311px;
  width: 100%;
  padding: 0 4% 0 4%;
}

h2 {
  font-family: "Lato Black";
  font-size: 2.4rem;
  line-height: 22px;
}

p {
  margin: 0;
  padding: 0;
}

a, a:link {
  font-size: 1.4rem;
  line-height: 32px;
  text-decoration: underline;
  letter-spacing: 0.35px;
  color: #585858;
}

ul {
  padding: 0;
  list-style: none;
}

label {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 22px;
}

input[type="text"], input[type="password"], select {
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 6px;
  background-color: #ffffff;
  text-indent: 20px;
  color: #828282;
  font-family: "Lato Semibold";
  font-size: 2.2rem;
  line-height: 22px;
  margin-bottom: 29px;
}

input[type="text"], input[type="password"] {
  width: 100%;
}

input[type="password"] {
  margin-bottom: 43px;
}

select {
  max-width: 725px;
  font-weight: 600;
}

header {
  border-bottom: 1px solid #e2e2e4;
  padding: 68px 0 35px 0;
  margin-bottom: 39px;
}

header::after {
  background: url("../img/lines.png") no-repeat;
  content: "";
  bottom: -1px;
  right: 0;
  width: 210px;
  height: 1px;
}

footer {
  padding: 61px 0 99px 0;
}

footer::after {
  background: url("../img/lines.png") no-repeat;
  content: "";
  top: -1px;
  right: -13px;
  width: 210px;
  height: 1px;
}

.footer__logo1 {
  margin-right: 37px;
  opacity: 0.5;
}

.footer__logo2 {
  text-align: right;
  opacity: 0.5;
}

.header__flag:not(:last-child) {
  margin-right: 10px;
}

.header__logo2 {
  padding-left: 130px;
}

.header__phone {
  color: #585858;
  font-size: 1.9rem;
  line-height: 11px;
  font-family: "Lato Heavy";
  font-weight: 800;
  margin: 16px 0 10px 0;
}

@media screen and (min-width: 768px) {
  .header__phone {
    margin: 0 0 0 0;
  }
}

@media screen and (min-width: 1100px) {
  .header__phone {
    font-size: 3.6rem;
  }
}

.main__form {
  background: #0c7cab url("../img/user-icon.png") no-repeat bottom left;
  min-height: 475px;
  max-width: 870px;
  width: 100%;
  border-radius: 6px;
  padding: 57px 10px 40px 10px;
}

@media screen and (min-width: 993px) {
  .main__form {
    padding: 57px 100px 40px 45px;
    margin-right: 10px;
  }
}

.main__registration {
  min-height: 475px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  padding: 57px 5% 83px 5%;
  background: #ffffff url("../img/shape-1.png") no-repeat bottom right;
}

@media screen and (min-width: 500px) {
  .main__registration {
    padding: 57px 2% 83px 2%;
  }
}

.main__info {
  padding: 81px 0 99px 0;
  text-align: center;
  border-bottom: 1px solid #e2e2e4;
}

@media screen and (min-width: 768px) {
  .main__info {
    text-align: left;
  }
}

@media screen and (min-width: 861px) {
  .main__info {
    padding: 81px 0 99px 45px;
  }
}

.button {
  width: 100%;
  max-width: 340px;
  height: 62px;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.47px;
}

.info__list {
  width: 40%;
  margin-top: 50px;
  display: flex;
  max-width: 200px;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .info__list {
    margin: 0;
    max-width: 100px;
    display: block;
  }
}

@media screen and (min-width: 1260px) {
  .info__list {
    max-width: 209px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .info__list:not(:last-child) {
    margin-left: 120px;
  }
}

@media screen and (min-width: 1060px) {
  .info__list:not(:last-child) {
    padding-right: 96px;
    margin-left: 130px;
  }
}

.input--wrapper {
  width: 100%;
}

.input--wrapper2 {
  width: 100%;
}

@media screen and (min-width: 993px) {
  .input--wrapper2 {
    width: 49%;
  }
}

.button--wrapper {
  text-align: right;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1310px) {
  .button--wrapper {
    flex-direction: row;
  }
}

.font--middle {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Lato Regular";
}

@media screen and (min-width: 1100px) {
  .font--middle {
    font-size: 2.4rem;
  }
}

.font--small {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato Regular";
  text-transform: initial;
}

@media screen and (min-width: 1100px) {
  .font--small {
    font-size: 1.3rem;
  }
}

.font--bold {
  font-family: "Lato Heavy";
  font-weight: 800;
  letter-spacing: 0.35px;
}

.button--success {
  background-color: #00cb34;
  margin-left: auto;
}

.button--info {
  background: #e46917;
  min-width: 215px;
}

.form--h2 {
  color: #ffffff;
  border-bottom: 1px solid #2b8ab2;
  margin-bottom: 39px;
  padding-bottom: 8px;
}

.registration--h2 {
  color: #e46917;
}

.info--h2 {
  line-height: 32px;
  letter-spacing: 0.6px;
}

@media screen and (min-width: 669px) {
  .info--h2 {
    min-width: 170px;
  }
}

.info--p {
  width: 100%;
  font-size: 1.4rem;
  line-height: 22px;
  letter-spacing: 0.35px;
  padding: 20px 0 20px 0;
}

@media screen and (min-width: 768px) {
  .info--p {
    padding: 0;
    margin-left: 120px;
    max-width: 534px;
  }
}

.registration--p {
  font-size: 1.8rem;
  line-height: 32px;
  letter-spacing: 0.35px;
  padding: 55px 0 40px 0;
}

.form--p {
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 20.57px;
  text-decoration: underline;
  display: block;
  margin: 0 0 8px 0;
  letter-spacing: 0.31px;
  display: block;
  margin-left: auto;
}

@media screen and (min-width: 1310px) {
  .form--p {
    margin: 0;
  }
}

.footer--p {
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .footer--p {
    font-size: 1.3rem;
    line-height: 22px;
  }
}

.img--wrapper::before {
  content: "POWERED BY:";
  color: #6f6f6f;
  font-size: 1.2rem;
  line-height: 15.89px;
  bottom: -3px;
  left: 20px;
  z-index: 2;
}

.button--arrow {
  padding-left: 15px;
  font-size: 3.5rem;
  margin-top: -5px;
  display: none;
}

@media screen and (min-width: 955px) {
  .button--arrow {
    display: block;
  }
}

a:visited {
  color: #828282;
}

a:hover {
  color: #0c7cab;
}

a:active {
  color: #e46917;
}

.button--success:hover {
  background-color: #00df39;
}

.button--info:hover {
  background: #ec8642;
}
